* {
  margin: 0;
  padding: 0;
}

html,
body,
div#container {
  width: 100vw;
  height: 100vh;
}

div#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#Resultado {
  text-align: center;
  width: 33%;
}

section {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

section label {
  width: 100%;
}

section input {
  width: 100%;
  margin: 2px 0;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

section ul li {
  margin-top: 2px;
}
